---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span>Category: {{ page.categories[0] }}</span>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>
  {% if page.toc %}
  <div class="toc-container">
    <h2 id="toc-title" class="toc-title">목차</h2>
    {{ content | toc_only }}
  </div>
  {% endif %}
  {{ content }}
</article>

{% include related-posts.html %}
